/*Orden para guiarse:
1.Estilos del Header
2.menu desplegable
3.Estilos del main
4.Estilos de la seccion de recientes
5.Estilos de seccion de productos
6.Pie de pagina
7.Estilos de la pagina de productos
8.Estilos para la pagina de novedades
9.Estilos para la pagina nosotros
10.Estilos para la pagina contactos
11.Estilos para la pantalla de un celular
12.Estilos para la pantalla de una tablet
13.Estilos para la pantalla de una desktop*/

/*Estilos del Header*/ 

body {
    background-color: #ffcc80;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

header{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.logo{
    width: 130px;
    height: 80px;
} 

.listaMenu{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.listaMenu li a{
    text-decoration: none;
    color: black;
    background-color:#ffffb0;
    display: inline-block;
    padding: 20px;
}

/*Aca va el menu desplegable*/



.listaMenu li ul li{
    display: block;
}

.listaMenu li:hover ul{
    display: block;
}
  
/*--------------------------------------------*/
/*Estilos del main*/


.carrusel{
    grid-area: carrusel;
}

.carruselDeImagenes{
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(to right,#c77800,#ffffb0);
}

/*Estilos de la seccion de recientes*/

.seccionRecientes{
    background-color: #ca9b52;
    
    grid-area: seccionRecientes;
}



.seccionRecientes div article{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.seccionRecientes div article:hover{
    transform: scale(0.95);
}

/*Estilos de seccion de productos*/


.seccionProductos{
    
    background-color: #ca9b52;
}



.seccionProductos div article{
    background-color: #ffffb0;
    box-shadow: 2px 2px 5px black;
    display: grid;
    justify-items: center;
    transition: all 1s;
    margin-bottom: 10px;
}

.seccionProductos div article:hover{
    transform: scale(1.05,1.05);
    
}

.juegoDeTronos{
    grid-area: imagen1;
}

.harryPotter{
    grid-area: imagen2;
}
.agatha{
    grid-area: imagen3;
}
.sherlockHolmes{
    grid-area: imagen4;
}
.juegosDelHambre{
    grid-area: imagen5;
}
.borges{
    grid-area: imagen6;
}



/*Pie de pagina*/

footer{
    background-color: #ca9b52;
}

.icono{
    width: 50px;
    height: 50px;
}


/*Estilos de la pagina de productos*/

.mainDeProductos{
    background-color: #ca9b52;
    
}


.mainDeProductos section div article{
    background-color: #ffffb0;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: black solid 2px;
    transition: all 1s;
    
}

.mainDeProductos section div article:hover{
    transform: scale(1.05,1.05);
}

.mainDeProductos section{
    margin-top: 10px;
    border-top: #ffcc80 2px groove;
}

/*Estilos para la pagina de novedades*/


.listaNovedades div{
    background-color: #ffffb0;
    box-shadow: 2px 2px 5px black;
}


/*Estilos para la pagina nosotros*/

.nosotros div{
    line-height: 2;
    background-color:#ffffb0;
}

/*Estilos para la pagina contacto*/



.formulario input:focus{
    background-color: lightgray;
}

.formulario textarea:focus{
    background-color: lightgray;
}






/*Estilos para la pantalla de un celular*/

@media only screen and (max-width:767px){

    body {
        background-color: #ffcc80;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    /*Aca va el menu desplegable*/
    .listaMenu li ul{
        position: relative;
        display: none;
    }

    .listaMenu{
        list-style-type: none;
        overflow: hidden;
        
    }

    .imagen{
        width: 80px;
        height: 130px;
        border: groove 5px black;
    }

    /*Estilos seccion de recientes*/
    .seccionRecientes div{
        
        justify-items: center;
    }
    
    .seccionRecientes div article div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .seccionRecientes div article{
        margin-top: 10px;
        box-shadow: 2px 2px 5px black;
        background-color: #ffffb0;
        transition: all 1s;
        display: flex;
    }

    .seccionRecientes div article div p{
        margin-left: 20px;
    }

    /*Estilos de seccion de productos*/

    .seccionProductos div{
        display: grid;
        grid-template-areas: 
        'imagen1 imagen2'
        'imagen3 imagen4'
        'imagen5 imagen6';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    
    }

    /*Estilos de la pagina de productos*/

    .mainDeProductos section{
        display: grid;
        grid-template-rows: 75px 1fr;
        
    }

    .mainDeProductos section div{
        display: flex;        
    }

    /*Estilos pagina de novedades*/

    .listaNovedades{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }



}

/*Estilos para la pantalla de una tablet*/

@media only screen and (min-width:768px) and (max-width:1023px){

    body {
        background-color: #ffcc80;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    /*Aca va el menu desplegable*/
    .listaMenu li ul{
        position: absolute;
        display: none;
    }

    .listaMenu{
        list-style-type: none;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }

    /*Estilos seccion de recientes*/

    .seccionRecientes div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    }
    
    .seccionRecientes div article div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .seccionRecientes div article{
        box-shadow: 2px 2px 5px black;
        background-color: #ffffb0;
        transition: all 1s;
        display: flex;
    }

    .seccionRecientes div article div p{
        margin-left: 20px;
    }

    /*Estilos de seccion de productos*/

    .seccionProductos div{
        display: grid;
        grid-template-areas: 
        'imagen1 imagen2 imagen3'
        'imagen4 imagen5 imagen6';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    }

    .imagen{
        width: 180px;
        height: 280px;
        border: groove 5px black;
    }
    /*Pie de pagina*/

    footer{
        background-color: #ca9b52;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .mainDeProductos section div{
        display: flex;        
    }

    /*Estilos pagina de novedades*/

    .listaNovedades{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

/*Estilos para la pantalla de una Desktop*/

@media only screen and (min-width:1024px){
    body {
        background-color: #ffcc80;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    /*Aca va el menu desplegable*/

    .listaMenu li ul{
        position: absolute;
        display: none;
    }

    .listaMenu{
        list-style-type: none;
        overflow: hidden;
        /*display: grid;
        grid-template-columns: repeat(5,1fr);*/
        display: flex;
    }

    /*Estilos seccion de recientes*/
    .seccionRecientes div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-items: center;
    }
    
    .seccionRecientes div article div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .seccionRecientes div article{
        box-shadow: 2px 2px 5px black;
        background-color: #ffffb0;
        transition: all 1s;
        display: flex;
    }

    .seccionRecientes div article div p{
        margin-left: 20px;
    }

    /*Estilos de seccion de productos*/

    .seccionProductos div{
        display: grid;
        grid-template-areas: 
        'imagen1 imagen2 imagen3' 
        'imagen4 imagen5 imagen6';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
    }

    .imagen{
        width: 180px;
        height: 280px;
        border: groove 5px black;
    }

    /*Pie de pagina*/

    footer{
        background-color: #ca9b52;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .mainDeProductos section div{
        display: flex;        
    }

    /*Estilos pagina de novedades*/

    .listaNovedades{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

}
